/*
 font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
*/

body {
  font-family: Roboto, sans-serif;
  background-image: url(../img/debut_light.png);
  font-size: 16px;
}

h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
}

.logo {
  font-size: 20px;
  display: block;
  width: 12.5em;
  height: 12.5em;
}

