.container
  width: 90%
  max-width: 900px
  margin: 0 auto
  background: $white
  box-shadow: $main-shadow

  img
    max-width: 100%
    width: 100%
    height: auto

footer.container
  background: none
  box-shadow: none
  padding: 1rem 0
  display: flex
  justify-content: flex-end
